appdirs==1.4.3
argparse==1.4.0
backoff==1.10.0
beautifulSoup4==4.11.1
configobj==5.0.6
python-daemon==2.1.2
kodi-json==1.0.0
packaging==16.8
pyparsing==2.2.0
requests==2.31.0
schedule==0.4.2
six==1.13.0
yagmail==0.10.209
pytz==2017.2
tzlocal==1.4
urllib3==1.26.6
