appdirs==1.4.4
argparse==1.4.0
backoff==2.2.1
beautifulSoup4==4.12.3
configobj==5.0.9
python-daemon==3.1.2
kodi-json==1.0.0
packaging==24.2
pyparsing==3.2.1
requests==2.32.3
schedule==1.2.2
six==1.17.0
yagmail==0.15.293
pytz==2024.2
tzlocal==5.2
urllib3==2.3.0
